.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-primary);
  color: white;
  font-weight: 500;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  font-size: 0.875em;
}
