.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #ebecf0;
  border-radius: 4px;
  min-width: 272px;
}

.actions {
  display: flex;
  gap: 0.5rem;
}
